<header>
    <h1>
        Eat That Burger!!
    </h1>
</header>

<div class="row">
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burgerItem devoured=true}}
        {{/unless}}
        {{/each}}
    </ul>

    <h2>Burgers You Ate </h2>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burgerItem devoured=false}}
        {{/if}}
        {{/each}}
    </ul>

</div>


<h2>Have you discovered a New BURGAH!? Don't forget it, Type the name down below</h2>
<form class="create-form">

    <div class="form-group">
        <label for="bh">New Burger</label>
        <input type="text" id="bh" name="burger_name">
    </div>

    <button type="submit">NEW BURGAH!!!</button>
</form>







{{!-- 


<h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

 --}}