<li class="list-group-item list-group-item-action bg-transparent">
	{{burger_name}}
	{{#if devoured}}
	<button class="eatBurger btn btn-primary" data-id="{{id}}" data-devoured="{{devoured}}">
		EAT DA BURGER BRUH
	</button>{{/if}}
	<button class="delete btn btn-danger" data-id="{{id}}">
		Delete Burger
	</button>
</li>


{{!-- id INT AUTO_INCREMENT PRIMARY KEY,
burger_name VARCHAR(100),
devoured BOOL DEFAULT FALSE --}}